.credits article h1{
 font-size: 96px;
}

.credits article p {
    font-size: 40px;
    width: 500px;
    color: #929292;
}

.magicians{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.magicians > div{
    border: 6px solid;
    margin: 0 1rem;
    padding: 2rem;
    /* width: 500px; */
    word-wrap: break-word;
    width: 30%;
    max-width: 500px;
    height: 620px;
    border-radius: 15px;
    position: relative;
}

.magicians h1{
    font-size: 62px;
    margin: 10px 0;
}

.magicians p{
    font-size: 48px;
    color: #929292;

}

.magicians > img{
    position: absolute;
    right: 0;
    top: -360px;
    /* border: 5px solid red; */
}

.links{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    bottom: 0;
}

.links a {
    margin: 0 10px;
}

.tools{
    margin: 10rem 0;
    display: flex;
}

.tools h1{
    font-size: 88px;
}

.tools p{
    font-size: 2rem;
    color: #929292;
    width: 650px;
}
