.credits article {
    margin-bottom: 3rem;
}

.credits article h1 {
    font-size: 96px;
}

.credits article p {
    font-size: 40px;
    width: 500px;
    color: #929292;
}

.magicians {
    display: flex;
    justify-content: center;
    position: relative;
}


.magicians>div {
    border: 6px solid;
    margin: 0 1rem;
    padding: 2rem;
    /* width: 500px; */
    word-wrap: break-word;
    width: 30%;
    max-width: 500px;
    height: 620px;
    border-radius: 25px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.magicians>div:hover {
    transform: rotateY(10deg) rotateX(5deg) scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.magicians h1 {
    font-size: 62px;
    margin: 10px 0;
}

.magicians p {
    font-size: 40px;
    text-decoration: underline;
    color: #929292;
}

.magicians>img {
    position: absolute;
    right: 0;
    top: -360px;
    /* transition: transform 0.5s ease-in-out; */
    /* border: 5px solid red; */
}


.magicians>img:hover {
    transform: rotateY(360deg);
}

.links {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    bottom: 12px;
}

.links a {
    margin: 0 5px;
}

.tools {
    width: max-content;
    margin: 6rem auto;
    display: flex;
}

.tools h1 {
    font-size: 88px;
}

.tools p {
    font-size: 2rem;
    color: #929292;
    width: 650px;
}

.unbrokenHeading{
    display: none;
}

.brokenHeading{
    display: block;
}

@media screen and (max-width:1280px) {
    .credits article h1 {
        font-size: 80px;
    }

    .credits article p {
        font-size: 30px;
    }


    .magicians>img {
        width: 350px;
        height: auto;
        position: absolute;
        right: 0;
        top: -280px;
    }

    .magicians>div {
        margin: 0 8px;
        padding: 1rem;
        flex-basis: 33%;
        max-width: 500px;
        height: 550px;
    }

    .magicians p {
        font-size: 30px;
    }

    .magicians h1 {
        font-size: 50px;
    }

    .tools {
        flex-direction: column;
    }

    .tools img {
        margin: 3rem auto;
        width: 90%;
    }
}

@media screen and (max-width:1000px) {
    .credits article h1 {
        font-size: 70px;
    }

    .credits article p {
        font-size: 30px;
    }


    .magicians>img {
        width: 300px;
        height: auto;
        position: absolute;
        right: 0;
        top: -250px;
    }


    .magicians p {
        font-size: 25px;
    }

    .magicians h1 {
        font-size: 45px;
    }

    .magicians>div>img {
        /* display: none;    */
        width: 180px;
        height: auto;
    }

    .twitterImg {
        width: 30px;
        height: auto;
    }

    .linkedinImg {
        height: 20px;
        width: auto;
    }

    .tools {
        flex-direction: column;
    }

    .tools h1 {
        font-size: 65px;
    }

    .tools p {
        width: 100%;
    }

    .tools img {
        margin: 3rem auto;
        width: 90%;
        height: auto;
    }

    .unbrokenHeading{
        display: block;
    }
    
    .brokenHeading{
        display: none;
    }
}

@media screen and (min-width:650px)and (max-width:850px) {
    .magicians h1 {
        font-size: 35px;
    }

    .magicians>div>img {
        width: 150px;
    }

    .magicians>div {
        border: 6px solid;
        margin: 0 8px;
        height: 400px;
        border-radius: 15px;
    }

    .magicians p {
        font-size: 18px;
    }

    .twitterImg {
        width: 20px;
    }

    .linkedinImg {
        height: 15px;
    }
}

@media screen and (max-width:650px) {
    .credits article h1 {
        font-size: 60px;
    }

    .credits article p {
        width: 100%;
        font-size: 26px;
    }

    .magicians h1 {
        font-size: 35px;
    }

    .magicians p {
        font-size: 22px;
    }

    .magicians {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .magicians>div {
        border: 6px solid;
        margin: 1rem 8px;
        padding: 1rem;
        width: 100%;
        flex: auto;
        max-width: 90%;
        height: 350px;
        border-radius: 15px;
    }

    .magicians>img {
        width: 200px;
        top: -150px;
    }

    .twitterImg {
        width: 25px;
    }

    .linkedinImg {
        height: 15px;
    }

    .magicians>div>img {
        width: 120px;
    }

    .tools {
        margin: 3rem 0;
    }

    .tools h1 {
        font-size: 50px;
    }

    .tools p {
        font-size: 25px;
    }
}

@media screen and (max-width:450px) {
    .credits article h1 {
        font-size: 40px;
    }

    .credits article p {
        width: 100%;
        font-size: 26px;
    }

    .magicians>img {
        width: 180px;
        top: -110px;
    }

    .tools p {
        font-size: 20px;
    }

}