.splide__arrow svg {
    display: none;
}

.discographyHero {
    margin-bottom: 50px;
}

.discographyHero h2 {
    font-size: 80px;
}

.servicesHeader {
    display: flex;
    align-items: center;
}

.discographyHero p {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #929292;
}

.heroImageArea {
    position: relative;
    display: inline-block;
}

.heroImageArea>img:nth-of-type(2) {
    position: absolute;
    right: -40%;
    top: -6%;
    animation: pulse 1.8s infinite;
}

.albums h2 {
    font-size: 70px;
    margin: 30px 0;
}

.albumsCarousel {
    margin-bottom: 120px;
}

.albumCard {
    width: 100%;
    border: 3px solid;
    padding: 3rem;
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.albumCard>div:first-child {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.albumText p {
    width: max-content;
    padding: 12px;
    border: 3px solid;
    border-radius: 80px;
}

.albumText h1 {
    font-size: 70px;
}

.albumYear {
    display: flex;
    font-size: 30px;
    font-weight: 700;
}

.albumCard>div:nth-last-child(1) img {
    width: 80px;
    height: auto;
    margin-right: 24px;
}

.albumImage {
    margin: 0;
}

.albumText {
    width: max-content;
}

.headphonesImage {
    position: absolute;
    /* display: none; */
    width: 350px;
    right: 20%;
    top: -50px;
}

.arrowsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    position: absolute !important;
    left: 50%;
}

.arrowsContainer button {
    margin-right: 50px;
}

.singles {
    margin: 100px 0;
}

.singles h2 {
    font-size: 70px;
    margin: 30px 0;
}

@media screen and (max-width:1280px) {
    .discographyHero h2 {
        font-size: 70px;
    }

    .discographyHero p {
        font-size: 35px;
    }


    .albumCard {
        padding: 1.5rem;
        gap: 20px;
    }

    .albumCard>div:first-child {
        display: flex;
        align-items: end;
        gap: 1rem;
    }

    .albumText p {
        width: max-content;
        padding: 12px;
        border: 3px solid;
        border-radius: 80px;
    }

    .albumText h1 {
        font-size: 65px;
    }

    .albumCard>div:nth-last-child(1) img {
        width: 80px;
        height: auto;
        margin-right: 24px;
    }

    .albumImage {
        margin: 0;
        width: 300px;
        height: auto;
    }

    .albumText {
        width: max-content;
    }

    .headphonesImage {
        position: absolute;
        /* display: none; */
        width: 350px;
        height: auto;
        right: 15%;
        top: -50px;
    }
}

@media screen and (max-width:1000px) {
    .heroImageArea>img:nth-of-type(1) {
        width: 420px;
        height: auto;
    }

    .heroImageArea>img:nth-of-type(2) {
        top: -14%;
        width: 200px;
        height: auto;
    }

    .servicesHeader {
        flex-direction: column;
        align-items: flex-start;
    }

    .servicesHeader div {
        padding: 8px 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .servicesHeader img {
        width: 80px;
        height: auto;
    }

    .albumCard {
        padding: 1.5rem;
        gap: 20px;
    }

    .albumCard>div:first-child {
        display: flex;
        align-items: end;
        gap: 1rem;
    }

    .albumText p {
        width: max-content;
        font-size: 25px;
        padding: 8px;
        border: 3px solid;
        border-radius: 80px;
    }

    .albumText h1 {
        font-size: 48px;
        word-break: break-all;
    }

    .albumCard>div:nth-last-child(1) img {
        width: 60px;
        height: auto;
        margin-right: 24px;
    }

    .albumImage {
        width: 250px;
    }

    .headphonesImage {
        width: 350px;
        right: 15%;
        top: -50px;
    }
}

@media screen and (max-width:650px) {
    .discographyHero {
        margin-bottom: 30px;
    }

    .discographyHero h2 {
        font-size: 60px;
    }

    .discographyHero p {
        font-size: 26px;
    }

    .heroImageArea>img:nth-of-type(1) {
        width: 90%;
        height: auto;
    }

    .heroImageArea>img:nth-of-type(2) {
        width: 130px;
        right: 0%;
    }

    .albums h2 {
        font-size: 60px;
        margin: 30px 0;
    }

    .albumCard {
        padding: 1rem;
        gap: 20px;
        border-radius: 60px;
    }

    .albumText p {
        width: max-content;
        font-size: 16px;
        padding: 6px;
        border: 3px solid;
        border-radius: 80px;
    }

    .albumText h1 {
        font-size: 32px;
        word-break: break-all;
    }

    .albumCard>div:nth-last-child(1) img {
        width: 30px;
        height: auto;
        margin-right: 24px;
    }

    .albumImage {
        width: 160px;
    }

    .headphonesImage {
        width: 150px;
        right: 15%;
        top: -20px;
    }

    .arrowsContainer {
        gap: 5px;
    }

    .arrowsContainer img {
        width: 80px;
        height: auto;
    }

    .arrowsContainer button {
        margin-right: 20px;
    }

}

@media screen and (max-width:450px) {
    .servicesHeader div {
        padding: 8px 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .servicesHeader img {
        width: 30px;
        height: auto;
    }

    .albums h2 {
        font-size: 50px;
    }

    .singles h2 {
        font-size: 50px;
    }

    .albumCard>div:first-child {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .albumCard {
        padding: 8px;
        gap: 20px;
        border-radius: 45px;
    }

    .albumText {
        width: 100%;
    }

    .albumText p {
        width: max-content;
        font-size: 16px;
        padding: 6px;
        border: 3px solid;
        border-radius: 80px;
    }

    .albumText h1 {
        padding: 12px 0;
        font-size: 32px;
        word-break: break-all;
    }

    .albumCard>div:nth-last-child(1) img {
        width: 30px;
        height: auto;
        margin-right: 24px;
    }

    .albumImage {
        width: 190px;
    }

    .headphonesImage {
        right: 10%;
    }

    .albumCard>div:nth-last-child(1) img {
        width: 25px;
        height: auto;
        margin-right: 12px;
    }

    .albumCard>div:nth-last-child(1) {
        display: flex;
        justify-content: center;
    }
}