.hero {
    display: flex;
    margin-right: -2rem;
    margin-top: 2rem;
}

.heroTextArea {
    width: 45%;
    font-size: 70px;
}

.heroImageArea {
    position: relative;
    width: 55%;
}

.heroImageArea img {
    width: 100%;
    height: auto;
}

.herocube {
    position: absolute;
}

.herocube_1 {
    top: 0;
    transform: translateY(-50%);
    left: 0;
    width: 160px;
    /* background-color: yellow; */
}

.herocube_2 {
    top: 0;
    right: 0;
    width: 100px;
    transform: translateY(-50%);
    /* background-color: purple; */
}

.herocube_3 {
    bottom: 0;
    right: 0;
    width: 100px;
    /* background-color: red; */
}


.herocube_4 {
    bottom: 3rem;
    left: 0;
    transform: translateX(-40%);
    width: 100px;
    width: 200px;
    /* background-color: lightblue; */
}

.description {
    display: flex;
    margin: 5rem 0;
}

.descriptionHeading {
    width: 40%;
    /* background-color: lightblue; */
    font-size: 50px;
}

.descriptionText {
    width: 60%;
    padding-left: 2rem;
    color: var(--grey-text);
    /* background-color: aquamarine; */
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.socials {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials img {
    width: 150px;
    height: auto
}

.music {
    margin-top: 5rem;
    position: relative;
}

.musicDesktop2 {
    display: none;
}

.musicDesktop {
    width: 100%;
    height: auto;
}

.quote {
    margin-top: 5rem;
}

.quote h2 {
    font-size: 100px;
}

.quote p {
    font-size: 40px;
    color: #929292;
}

.quoteHeadline {
    position: relative;
    /* background-color: lightblue; */
    text-align: center;
}



.actualQuote {
    /* background-color: red; */
    width: 50%;
    margin: 6rem auto;
    text-align: center;
}

.actualQuote img {
    margin: 1rem 0;
}

.media div {
    display: flex;
    justify-content: end;
    position: relative
}

.media h2 {
    padding: 12px 0;
    text-align: center;
    font-size: 100px;
    position: relative;
    right: 50px;
}

.media img {
    z-index: 999;
    width: 30%;
    right: 55%;
    position: absolute;
}

.iframeContainer {
    z-index: 500;
    position: relative;
    width: 70%;
    height: 650px;
}

.imageGallery {
    margin: 0 auto;
}

.imageGallery img {
    width: 100%;
    height: auto;
}

.imageGallery img:nth-of-type(2) {
    display: none;
}

.quoteHeadline img {
    position: absolute;
    top: -40px;
    right: -120px;
    z-index: -1;
}


.headline {
    display: inline-block;
    /* Keeps the h2 text and images together */
    position: relative;
    font-size: 2rem;
}

.imageContainer {
    padding: 5px;
    display: inline-flex;
    /* Ensures images stay next to text */
    align-items: center;
    /* Aligns images properly */
    gap: 8px;
    /* Space between images */
    margin-left: 8px;
    /* Small spacing from text */
}

.imageContainer img {
    height: auto;
}


@media screen and (max-width:1280px) {

    .hero {
        margin-right: -1rem;
    }


    .credits article h1 {
        font-size: 80px;
    }

    .credits article p {
        font-size: 30px;
    }

    .descriptionText {
        width: 60%;
        padding-left: 2rem;
        color: var(--grey-text);
        /* background-color: aquamarine; */
        font-size: 30px;
        display: flex;
        align-items: flex-end;
    }

    .iframeContainer {
        position: relative;
        width: 70%;
        height: 570px;
    }

    .quoteHeadline img {
        right: -25px;
    }

    .quoteHeadline img:nth-of-type(1) {
        width: 200px;
        height: auto;
    }

    .quoteHeadline img:nth-of-type(2) {
        width: 140px;
        height: auto;
    }

}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size: 70px;
    }

    .heroTextArea {
        z-index: 999;
    }

    .heroImageArea {
        z-index: 4;
    }

    .playground h2 {
        font-size: 60px;
    }

    .descriptionHeading {
        width: 50%;
    }

    .descriptionText {
        width: 50%;
    }

    .descriptionText p {
        font-size: 25px;
    }

    .socials img {
        width: 100px;
    }

    .quote {
        margin-top: 6rem;
    }

    .quote p {
        font-size: 30px;
    }

    .quoteHeadline {
        position: relative;
        /* background-color: lightblue; */
        text-align: center;
    }

    .quoteHeadline img {
        right: -25px;
    }


    .quoteHeadline img:nth-of-type(1) {
        width: 160px;
        height: auto;
    }

    .quoteHeadline img:nth-of-type(2) {
        width: 120px;
        height: auto;
    }


    .actualQuote {
        width: 80%;
        margin: 10rem auto 5rem;
    }

    .actualQuote img {
        margin: 1rem 0;
    }

    .media h2 {
        text-align: center;
    }


    .media h2 {
        right: 0px;
    }

    .media img {
        z-index: 999;
        width: 30%;
        right: 75%;
        position: absolute;
    }

    .iframeContainer {
        z-index: 500;
        position: relative;
        width: 70%;
        height: 650px;
    }

    .media iframe {
        width: 90%;
        height: 500px;
    }

    .iframeContainer {
        z-index: 500;
        position: relative;
        width: 70%;
        height: 550px;
    }
}

@media screen and (max-width:650px) {

    .musicDesktop {
        display: none;
    }

    .musicDesktop2 {
        display: block;
        width: 100%;
        height: auto;
    }

    .imageGallery img:nth-of-type(1) {
        display: none;
    }

    .imageGallery img:nth-of-type(2) {
        display: block;
    }

    .hero {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
    }

    .heroTextArea {
        width: 100%;
    }

    .heroImageArea {
        position: relative;
        width: 100%;
        margin-top: 4rem;
    }

    .heroImageArea img {
        width: 95%;
        height: auto;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .descriptionHeading {
        width: 100%;
    }

    .descriptionText {
        width: 85%;
        padding-left: 0;
    }

    .playground h2 {
        font-size: 38px;
    }

    .descriptionText p {
        margin-top: 2rem;
        font-size: 22px;
        line-height: 32px;
    }

    .socials img {
        width: 60px;
    }

    .music {
        margin-top: 2rem;
    }

    .quote p {
        font-size: 22px;
    }

    .quoteHeadline img {
        top: -20px;
    }

    .quoteHeadline img:nth-of-type(1) {
        width: 100px;
    }

    .quoteHeadline img:nth-of-type(2) {
        width: 70px;
    }

    .actualQuote {
        width: 80%;
        margin: 6rem auto 1rem;
    }

    .actualQuote img {
        margin: 1rem 0;
    }

    .media img {
        top: 30%;
        height: auto;
    }


}

@media screen and (max-width:450px) {

    .quoteHeadline img:nth-of-type(1) {
        width: 85px;
    }

    .quoteHeadline img:nth-of-type(2) {
        width: 60px;
    }

    .media iframe {
        width: 90%;
        height: 300px;
    }

}

@media screen and (max-width:350px) {
    .media iframe {
        height: 200px;
    }

    
}