.playground{
}

.hero{
    display: flex;
    margin-right: -2rem;
}


.heroText{
    width: 45%;
    background-color: blue;
    font-size: 70px;
}

.heroImage{
    width: 55%;
    background-color: yellow;
}

.heroImage img{
    width: 100%;
    height: auto;
}