
.videos h2{
    font-size: 70px;
}

.mvCard {
    background-color: white;
    margin: 1rem 0;
    border-radius: 80px;
    border: 5px solid;
    padding: 1rem;
    overflow: hidden;
}

.mvCardVideo{
    /* border: 5px solid ; */
    border-radius: 10px;
}

.mvCardVideo iframe{
    width: 100%;
    height: 800px;
    border-radius: 60px;
}
.mvCardVideo img{
    width: 100%;
    height: 800px;
}


.visuals {
    position: relative;
    border: 5px solid;
    padding: 0.5rem 0;
    border-radius: 40px;
    width: 100%;
    overflow: hidden;
}

.titleSlider {
    /* border: 2px solid blue; */
    margin: 0.5rem 0 2rem 0;
    /* width: 100%; */
    display: flex;
}

.titleSlider p {
    /* display: none; */
    /* margin-right: 20px; */
    font-size: 50px;
    font-weight: bold;
    border: 3px solid;
    padding: 6px 12px;
    border-radius: 50px;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

.titleSlider::before,
.titleSlider::after {
    content: attr(data-repeat);
}

.arrowsContainer {
    display: flex;
    justify-content: center; /* Center buttons below slides */
    gap: 20px; /* Space between buttons */
    margin-top: 40px; /* Add spacing below carousel */
    position: absolute !important; /* Override default positioning */
    left: 50%;
  }

  .arrowsContainer button{
    margin-right: 50px;
  }
  
  .vlogs{
margin: 100px 0;
  }


@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start at the beginning */
    }

    100% {
        transform: translateX(-100%);
    }
}