.main-footer{
    /* overflow: hidden; */
}

.top-area {
    display: flex;
    width: 100%;
    /* background-color: lightblue; */
}

.top-left-area {
    font-size: 30px;
}

.top-left-area img {
    width: 100px;
}

.top-left-area h2:nth-of-type(2) {
    text-align: right;
}

.top-middle-area {
    position: relative;
    /* background-color: brown; */
    width: 40%;
    padding: 60px 0;
}


.top-middle-area section:nth-of-type(1) a {
    display: block;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    /* background-color: purple; */
}

.top-middle-area section:nth-of-type(2) {
    position: absolute;
    bottom: 60px;
    padding-left: 2rem;
}

.main-footer>p {
    text-align: center;
    display: block;
    padding: 3rem 0;
    font-size: 24px;
    color: var(--grey-text);
    /* background-color: grey; */
}

.top-right-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 60px;
}

@media screen and (max-width:1280px) {
    .main-footer {
        width: 100%;
    }
}