.main-nav {
    background-color: purple;
    background: #EFEFEF;
    /* height: 70px; */
    display: flex;
    align-items: center;
    margin: 0 -2rem;
    padding: 2rem;
}

    .main-nav a.active-link{
        background-color: black;
        color: white;
        border: none;
    }

    .main-nav a {
        padding: 10px;
        border-radius: 20px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        background-color: white;
        color: black;
        border: 1px solid;
    }

.main-nav a:hover{
    color: gray;
    background-color: black;
}
