.hero {
    /* background-color: red; */
}

.hero h2 {
    width: 60%;
    /* background-color: lightblue; */
    font-size: 70px;
    margin-bottom: 2rem;
}


.randomArea {
    display: flex;
    gap: 1rem;
}

.randomLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biosocials {
    display: flex;
    /* align-items: center; */
}

.biosocials img {
    width: 150px;
    height: auto;
}

    .randomLeft>img {
        margin-top: 25%;
    }

.randomArea>div:nth-of-type(2) {
}

.randomArea>div:nth-of-type(2) img {
    width: 100%;
    height: auto;
}


.heroImageArea {
    position: relative;
    display: inline-block;
}

.secondHeroImage {
    position: absolute;
    right: -40%;
    top: -6%;
    animation: pulse 1.8s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        /* Slightly enlarge the image */
        opacity: 0.8;
        /* Reduce opacity */
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero p {
    color: #929292;
    font-size: 40px;
}

.videoArea {
    margin: 2rem 0;
}

.videoArea img {
    width: 100%;
    height: auto;
}

.videoArea p {
    color: #929292;
    font-size: 32px;
}

.preVisuals {
    margin: 2rem 0;
}

.preVisuals h2 {
    font-size: 70px;
}

.preVisuals p {
    color: #929292;
    font-size: 32px;
    margin-bottom: 2rem;
}



.visuals {
    position: relative;
    border: 5px solid;
    padding: 0.5rem 0;
    border-radius: 40px;
    width: 100%;
    overflow: hidden;
}

.visualslider {
    /* border: 2px solid blue; */
    margin: 0.5rem 0 2rem 0;
    display: flex;
}

.visualslider p {
    /* display: none; */
    /* margin-right: 20px; */
    font-size: 50px;
    font-weight: bold;
    border: 3px solid;
    padding: 6px 12px;
    border-radius: 50px;
    white-space: nowrap;
    animation: slide 2.2s linear infinite;
}

.visualslider::before,
.visualslider::after {
    content: attr(data-repeat);
}



@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start at the beginning */
    }

    100% {
        transform: translateX(-100%);
    }
}

.slideshow {
    /* border: 3px solid red; */
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* border: 3px solid; */
    border-radius: 50px;
    /* Fade in/out effect */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    /* Adjust to fit the container */
}

.active {
    opacity: 1;
}


.outro {
    color: #929292;
    font-size: 32px;
}

@media screen and (max-width:1280px) {
    .biosocials img {
        width: 110px;
    }
}

@media screen and (max-width:1000px) {
    .biosocials img {
        width: 70px;
    }
    .randomLeft>img {
        width: 200px;
        height: auto;
    }
    .heroImageArea>img:nth-of-type(1) {
        width: 420px;
        height: auto;
    }

    .heroImageArea>img:nth-of-type(2) {
        top: -14%;
        width: 200px;
        height: auto;
    }

}

@media screen and (max-width:650px) {
    .biosocials{
        width: 100%;
        justify-content: space-between;
    }
    .heroImageArea>img:nth-of-type(1) {
        width: 90%;
        height: auto;
    }

    .heroImageArea>img:nth-of-type(2) {
        width: 130px;
        right: 0%;
    }

    .biography h2 {
        font-size: 60px;
    }

    .biography p{
        font-size: 30px;
    }

    .randomArea{
        flex-direction: column-reverse;
    }

    .randomLeft{
        width: 100%;
    }

    .randomLeft>img {
        margin-top: 1rem;
    }
}

@media screen and (max-width:450px) {
    .biography p{
        font-size: 22px;
    }
}