.hero {
    /* background-color: red; */
}

.hero h2 {
    width: 60%;
    /* background-color: lightblue; */
    font-size: 70px;
    margin-bottom: 2rem;
}


.heroImageArea {
    /* display: none; */
    /* background-color: blue; */
    position: relative;
    display: inline-block;
}

.secondHeroImage {
    position: absolute;
    right: -40%;
    top: -6%;
    animation: pulse 1.8s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        /* Slightly enlarge the image */
        opacity: 0.8;
        /* Reduce opacity */
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero p {
    color: #929292;
    font-size: 40px;
}

.videoArea img {
    width: 100%;
}

.videoArea p {
    color: #929292;
    font-size: 32px;
}

.preVisuals{
    margin: 2rem 0;
}

.preVisuals h2{
font-size: 70px;
}

.preVisuals p {
    color: #929292;
    font-size: 32px;
}

.visuals{
    position: relative;
    border: 5px solid ;
    padding: 0.5rem 0;
    border-radius: 40px;
    width: 100%;
    overflow: hidden;
}

.visualslider{
    /* border: 2px solid blue; */
    margin: 0.5rem 0;
    display: flex;
}

.visualslider p{
    /* display: none; */
    /* margin-right: 20px; */
    font-size: 50px;
    font-weight: bold;
    border: 3px solid;
    padding: 6px 12px;
    border-radius: 50px;
    white-space: nowrap;
    animation: slide 1s linear infinite;
}

.visualslider::before, 
.visualslider::after {
  content: attr(data-repeat);
}


.slideshow{
    height: 300px;
    width: 100%;
    border: 3px solid red2;
}

@keyframes slide {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(-100%); /* Move entire width to the left */
    }
  } 



  .outro{
    color: #929292;
    font-size: 32px;
  }